@use 'import/vars';
@use 'import/mixins';
@use 'layout/reset';
@use 'layout/typo';
@use 'layout/layout';
@use 'layout/base';
@use 'ui-elements/buttons';
@use 'ui-elements/card';
@use 'ui-elements/modal';
@use 'ui-elements/select';
@use 'ui-elements/switch';

.coefficient {
    min-width: 64px;
    padding: 0 8px;
}

.tilt-field {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.tilt-header {
    padding-left: 8px;
}

#cal {
    &:checked {
        ~ .tilt-field {
            opacity: 1;
        }
    }
}


