@use "../import/vars";

/* https://github.com/Dogfalo/materialize/blob/master/sass/components/_typography.scss */
@use "sass:math";


a {
  text-decoration: none;
}

html{
  line-height: 1.5;

  @media only screen and (min-width: 0) {
    font-size: 14px;
  }

  @media only screen and (min-width: vars.$medium-screen) {
    font-size: 14.5px;
  }

  @media only screen and (min-width: vars.$large-screen) {
    font-size: 15px;
  }

  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: vars.$off-black;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
	line-height: 1.1;
}

// Header Styles
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
h1 { font-size: vars.$h1-fontsize; line-height: 110%; margin: math.div(vars.$h1-fontsize, 2) 0 math.div(vars.$h1-fontsize, 2.5) 0;}
h2 { font-size: vars.$h2-fontsize; line-height: 110%; margin: math.div(vars.$h2-fontsize, 2) 0 math.div(vars.$h2-fontsize, 2.5) 0;}
h3 { font-size: vars.$h3-fontsize; line-height: 110%; margin: math.div(vars.$h3-fontsize, 2) 0 math.div(vars.$h3-fontsize, 2.5) 0;}
h4 { font-size: vars.$h4-fontsize; line-height: 110%; margin: math.div(vars.$h4-fontsize, 2) 0 math.div(vars.$h4-fontsize, 2.5) 0;}
h5 { font-size: vars.$h5-fontsize; line-height: 110%; margin: math.div(vars.$h5-fontsize, 2) 0 math.div(vars.$h5-fontsize, 2.5) 0;}
h6 { font-size: vars.$h6-fontsize; line-height: 110%; margin: math.div(vars.$h6-fontsize, 2) 0 math.div(vars.$h6-fontsize, 2.5) 0;}

// Text Styles
em { font-style: italic; }
strong { font-weight: 500; }
small { font-size: 75%; }
.light { font-weight: 300; }
.thin { font-weight: 200; }
