name: Build PlatformIO project
on: [push, pull_request]

jobs:
  build:
    strategy:
      matrix:
        environment: [d1_mini, nodemcuv2, thorrax]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/cache@v5
        with:
          path: |
            ~/.cache/pip
            ~/.platformio/.cache
          key: ${{ runner.os }}-pio
      - uses: actions/setup-python@v6
        with:
          python-version: '3.13'

      - name: Install PlatformIO Core
        run: pip install --upgrade platformio

      - name: Install dependencies for frontend
        working-directory: frontend
        run: |
          sudo apt-get update && sudo apt-get install --yes --no-install-recommends \
              npm \
              xxd

          npm ci
          command -v grunt > /dev/null || npm install --global grunt-cli

      - name: Build frontend
        working-directory: frontend
        run: npm run build

      - name: Build ${{ matrix.environment }}
        run: pio run -e ${{ matrix.environment }}
      - uses: actions/upload-artifact@v6
        with:
          name: ${{ matrix.environment }}.bin
          path: .pio/build/${{ matrix.environment }}/firmware.bin
